*{
    padding: 0;
    margin: 0;
}


#header {
    padding: 5px 5px;
    border-top: 0.2px solid #ece6e6;
    border-bottom: 0.2px solid #ece6e6;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-p {
    font-size: 12px;
    line-height: 24px;
    max-width: 33.33%;
    padding-left: 70px;
}

.header-p p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    align-items: center;
}

.header-info {
   margin-right: 0px;
   display: flex;
   position: relative;
   top: 0;
   right:0;
   padding-right: 20px;
}

.header-info span {
    font-weight: 300;
    display: inline-flex;
    padding: 11px 20px;
    color: #757575;
   
}

.header-info i{
    padding-right: 10px;
    color: greenyellow;
  
}

.header-info .email-icon {
    border: none;
    text-align: center;
    align-items: center;
}

.header-info .email-icon a{
    text-decoration: none;
    color: #757575;
}

.header-info .email-icon a:hover {
    color: greenyellow;
    transition: 0.3s;
}

/* navbar start here */

#navbar{
    position: sticky;
    top: 0;
    align-items: center;
    padding-top: 15px;
    background-color: white;
}

.navbar-menu {
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}

.navbar-header {
    padding: 15px 15px;
    font-size: 25px;
    line-height: 20px;
    padding-left: 70px;
    align-items: center;
    justify-content: space-between; 
    
}


.navbar-header a{
    text-decoration: none;
    color: black;
}

.navbar-header i{
    color: greenyellow;

}


.navbar-links ul{
    display: flex;
   
}

.navbar-links ul li{
    float: left;
    display: block;
    padding-right: 25px;    
} 

.navbar-links ul li a{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #424242;
    font-size: 17px;
}

.navbar-links ul li a:hover{
    color: #337ab7;
    transition: all 0.3s;
}

.navbar-links .navbar-links-list .appointment-btn a{
    background: #a5c422;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 5px;
    color: white;
}

.navbar-links .navbar-links-list .appointment-btn a:hover{
    background-color: #337ab7;
    transition: all 0.4s;
}

/* navbar ended here */

/* main section start here */

#main {
    padding: 50px 0;
    background-image: url(images/main-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.main-content h3{
    font-size: 28px;
    font-family:sans-serif;
    color: black;
    letter-spacing: 1px;
    /* padding: 10px 0 0 0; */
}

.main-content h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    padding: 20px 0 30px 0;
}

.main-content .appointment-btn {
    background: #a5c422;
    border-radius: 2px;
    color: #ffffff;
    font-weight: 600;
    padding: 12px 10px;
    color: white;
    text-decoration: none;
}

.main-content .appointment-btn:hover {
    background-color: #337ab7;
    border: #424242;
}

/* About section start here */

#About {
    background-image: url(images/about-bg.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding: 150px 0 100px 0;

}

.container{
        flex-direction: column;
        justify-content: space-between;
        max-width: 80%;
        margin: 50px auto;
        padding: 20px;
        
}

.about-heading{
   max-width: 50%;
}


.about-heading i {
    background: black;
    color: white;
    padding: 3px 6px;
    border-radius: 5px;
}

.about-heading p {
    font-size: 17px;
    color: #666;
    margin: 15px 0;
}

.doctor-info {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-top: 20px;   
}

.doctor-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.doctor-info h3 {
    font-size: 25px;
    font-weight: 600;
}

.doctor-info p {
    font-size: 16px;
    color: #777;
}

/* doctor section start here  */
#our-team h2 {
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
}

.our-doctors {
    display: flex;
    padding: 100px 100px;
    gap: 30px;
}

.doctors {
        background-color: #fff;
         border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: center; */
        width: 370px;
           
}

        .doctors img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .team-info {
            padding: 40px;
        }

        .team-info h3 {
            padding-bottom: 10px;
            font-size: 25px;
            font-weight: 600;
            color: #333;
        }

        .team-info p {
            padding-bottom: 5px;
            font-size: 18px;
            color: #777;
            margin: 5px 0;
        }

        .team-info-contact {
            margin-top: 10px;
            padding-top: 10px;
            border-top: 1px solid #ddd;
        }

        .team-info-contact p {
            font-size: 15px;
            display: flex;
            gap: 5px;
        }

        .team-info-contact i {
            color: #777;
        }

        .team-info-contact a {
            text-decoration: none;
            color: #777;
        }

        /* doctor section end  */

        /* news section start here  */

        .news-heading {
            text-align: center;
            font-size: 40px;
            padding: 20px 20px;
        }

        .news-list {
            padding: 70px 100px;
            display: flex;
            gap: 30px;
        }

        .news-items {
           background-color: #fff;
           border-radius: 10px;
           overflow: hidden;
           box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        /* text-align: center; */
           width: 370px;
        }

        .news-items img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        .news-info {
            padding: 30px;
            text-align: left;
        }

        .news-info span {
            display: block;
            letter-spacing: o.5px;
        }

        .news-info h3 {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .news-info p {
            color: #757575;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            padding-bottom: 20px;
        }

        .news-author-profile {
            display: flex;
            padding: 20px 0px;

        }

        .news-author-profile img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }

        /* appointment section start here  */

.appointment-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 100px;
    margin: auto;
}

/* Image Styling */
.appointment-image img {
    width: 550px;
    height: auto;
    border-radius: 10px;
}

/* Contact Form */
.contact-form {
    background: #fff;
    padding: 30px;
    max-width: 550px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#appointment-form .appointment-heading h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}


label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

select, textarea {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    height: 80px;
}

/* Submit Button */
#submit {
    width: 100%;
    background: #8bc34a;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background: #7cb342;
}

.name, .email, .date, .Select, .form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.email {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.date {
    width: 100%;
    display: flex;
    flex-direction: column
}

.Select {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#telephone {
    margin-top: 10px;
}

#message {
    margin-top: 10px;
}

/* map section start here */

#map {
    padding: 70px 0;
}

iframe{
    width: 99%;
    height: 550px;
}

/* map sectionn end here */

/* footer section start here */


.footer-items {
    float: left;
    padding: 70px 100px;
    display: flex;
    
}

.contact-info {
    width: 33.33%;
}

.contact-info h3 {
    padding: 20px 10px;
    font-size: 25px;
    color: #333;
}

.contact-info p {
    padding-bottom: 20px;
    width: 70%;
    line-height: 30px;
    color: #333;
    font-size: 20px;
}


.contact-info-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-circle {
    width: 40px;
    height: 40px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
}

.contact-text {
    font-size: 16px;
    color: #333;
}

.contact-text a {
    text-decoration: none;
    color: inherit;
}

.footer-news {
    width: 33.33%;

}

.footer-news h3 {
    padding: 20px 10px;
    font-size: 25px;
    color: #333;
    /* width: 100%; */
}

.latest-stories {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.story-image img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}


.story-info {
    padding: 10px;
    height: 50px;
    flex-direction: column;
}

.story-info h5 {
    font-size: 18px;
    padding-bottom: 10px;
}

.story-info span {
    color: #666;
    font-size: 15px;
}

.story-info a {
    text-decoration: none;
    color: #666;
}

.story-info a:hover {
    color: #337ab7;
    transition: 0.3s ease-in;
}

.footer-time {
    width: 33.33%;
}

.opening-hours h4 {
    font-size: 25px;
    padding: 20px 10px;
    color: #333;
}

.opening-hours p {
    line-height: 18px;
    color: #636262;
    font-size: 17px;
    font-weight: normal;
    margin: 0 0 20px;
}

.opening-hours span {
    padding-left: 10px;
}

.social-icon i {
    font-size: 20px;
    padding-left: 15px;
}

.social-icon i:hover {
    color: #337ab7;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}